@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}
body, html{
  overflow-x: hidden;
}
.primary 
{
  background-color: #2C5F2DFF;
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 3px;
}

.secondary
{
  background-color: #ffff;
  padding: 5px 20px;
  color: black !important;
  border: none;
  border-radius: 3px;
}